
*{
    margin: 0;
}

html,body{

    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{

    margin-bottom: 20px;

}

/* navigation bar */


nav{

    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    font-size: 15px;
    clear: both;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

nav li{

    list-style-type: none;
    

    
    float:left;
    
}

nav a{

    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    margin-left: 30px;
    line-height: 50px;
}

nav li a:hover{
  
  background-color: rgba(200,200,200,0.5);

}

 .active{
  
  background-color: rgba(200,200,200,0.5);

}


/* search input box */

input{
    background-color: transparent;
    border: 1px solid;
    padding: 10px 15px;
    height: 20px;
    width: 160px;
    color: #CCC;
    float: right;
    margin-top: 4px;
    margin-right: 40px;
    border-radius: 50px;
    border: 1px solid #87cefa;
}

input:focus {

  outline: none;

}


#search{

    position: absolute;
    right: 60px;
    color: #fff;
    margin-top: 15px;

}

/* site name */

#sitename{

    font-size: 70px;
    border: 9px solid rgba(200,200,200,0.6);
    padding: 20px 30px;
    position: absolute;
    float: right;
    right: 200px;
    top: 220px;
    color: #d3d3d3;
    border-radius: 6px;
 

}
/* sections */


.sect{

    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 2s ease-in-out;
    position: relative;
    
    
}

.title{

    position: absolute;
    top: 100px;
    left: 60px;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid rgba(105,105,105,0.7);
    border-radius: 3px;
    padding: 10px 20px;
    color: #696969;

}

.one{

 
    background-image: url(../images/landing_image.jpg);

}

.two{

    background-image: url(../images/maincourse.jpg);

}

.three{

    background-image: url(../images/starter.jpg);

}

.four{

    background-image: url(../images/snacks.jpg);

}

.five{

    background-image: url(../images/desserts.jpg);

}

.six{

    background-image: url(../images/popular.jpg);

}

